In [ ]:
# DPD_file

In [46]:
years = []
k = 1996
for i in range(24):
    k= k+1
    years.append(k)

In [ ]:
# c 1996 годом работаем отдельно, т.к там несколько иной вид данных

In [43]:
import pandas as pd

# Задать ширину каждого столбца в символах
col_widths = [10, 11, 9, 8, 12, 19, 18]

# Прочитать данные из файла с указанием ширины каждого столбца
dpd_1996 = pd.read_fwf('1996/1996_DPD.txt', widths=col_widths, header=None, skiprows=12)

# Задать заголовки столбцов
dpd_1996.columns = headers = ['Date', '>1 MeV', '>10 MeV', '>100 MeV','>0.6 MeV',
           '>2 MeV', 'Neutron Monitor % of bkgd']

In [44]:
result_dpd = dpd_1996

In [47]:
for year in years:
    # Задать ширину каждого столбца в символах
    col_widths = [10, 11, 9, 8, 12, 19, 18]
    
    # Прочитать данные из файла с указанием ширины каждого столбца
    dpd = pd.read_fwf(str(year) + '/' + str(year) + '_DPD.txt', widths=col_widths, header=None, skiprows=12)
    
    # Задать заголовки столбцов
    dpd.columns = headers = ['Date', '>1 MeV', '>10 MeV', '>100 MeV','>0.6 MeV',
               '>2 MeV', 'Neutron Monitor % of bkgd']
    result_dpd = pd.concat([result_dpd, dpd])

result_dpd = result_dpd.iloc[:-5]

In [49]:
result_dpd

,Date,>1 MeV,>10 MeV,>100 MeV,>0.6 MeV,>2 MeV,Neutron Monitor % of bkgd
0,01 Jan 96,870000.0,17000.0,4000.0,0.0,9700000.0,*
1,02 Jan 96,990000.0,16000.0,3800.0,0.0,9400000.0,0.4 %
2,03 Jan 96,450000.0,16000.0,3800.0,0.0,5600000.0,0.2 %
3,04 Jan 96,-100000.0,-100000.0,-100000.0,0.0,-100000.0,*
4,05 Jan 96,-100000.0,-100000.0,-100000.0,0.0,-100000.0,*
...,...,...,...,...,...,...,...
59,2020 02 29,730000.0,22000.0,3.8,3 5.6e+08,8100000.0,-999.99
60,2020 03 01,290000.0,21000.0,3.9,3 2.2e+09,16000000.0,-999.99
61,2020 03 02,430000.0,21000.0,3.8,3 2.6e+09,27000000.0,-999.99
62,2020 03 03,410000.0,22000.0,3.9,3 1.5e+09,16000000.0,-999.99
63,2020 03 04,210000.0,20000.0,3.4,3 1.3e+09,11000000.0,-999.99

In [14]:
# DSD file

In [53]:
years = []
k = 1996
for i in range(27):
    k= k+1
    years.append(k)

In [54]:
# Задать ширину каждого столбца в символах
col_widths = [10, 5, 8, 10, 6, 8, 8, 3 ,3, 3,3,3,3,3]

# Прочитать данные из файла с указанием ширины каждого столбца
dsd_1996 = pd.read_fwf('1996/1996_DSD.txt', widths=col_widths, header=None, skiprows=13)

# Задать заголовки столбцов
dsd_1996.columns = headers = ['Date', 'Radio_Flux', 'Sunspot_number','Sunspot_area', 'New_Region','Stanford_Solar_Mean_Field',
           'X-ra Flux', 'X-ray_C', 'X-ray_M', 'X-ray_X', 'Optical_S', 'Optical_1', 'Optical_2', 'Optical_3']
result_dsd = dsd_1996

In [55]:
for year in years:
    # Задать ширину каждого столбца в символах
    col_widths = [10, 5, 8, 10, 6, 8, 8, 3 ,3, 3,3,3,3,3]
    
    # Прочитать данные из файла с указанием ширины каждого столбца
    dsd = pd.read_fwf(str(year) + '/' + str(year) + '_DSD.txt', widths=col_widths, header=None, skiprows=12)
    
    # Задать заголовки столбцов
    dsd.columns = headers = ['Date', 'Radio_Flux', 'Sunspot_number','Sunspot_area', 'New_Region','Stanford_Solar_Mean_Field',
               'X-ra Flux', 'X-ray_C', 'X-ray_M', 'X-ray_X', 'Optical_S', 'Optical_1', 'Optical_2', 'Optical_3']
    result_dsd = pd.concat([result_dsd, dsd])

result_dsd = result_dsd.iloc[:-5]

In [57]:
result_dsd

,Date,Radio_Flux,Sunspot_number,Sunspot_area,New_Region,Stanford_Solar_Mean_Field,X-ra Flux,X-ray_C,X-ray_M,X-ray_X,Optical_S,Optical_1,Optical_2,Optical_3
0,01 Jan 96,75,25,10,1,*,A1.2,*,*,*,NaN,NaN,NaN,NaN
1,02 Jan 96,75,34,0,0,-1,A0.8,0,0,0,NaN,NaN,NaN,NaN
2,03 Jan 96,81,30,110,1,*,A0.9,1,0,0,NaN,NaN,NaN,NaN
3,04 Jan 96,86,48,220,1,-1,*,0,0,0,NaN,NaN,NaN,NaN
4,05 Jan 96,85,69,410,0,6,*,1,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2023 12 21,194,138,1160,0,-999,*,11,2,0,8,1,0,0
356,2023 12 22,187,157,1030,2,-999,*,5,0,0,7,2,0,0
357,2023 12 23,174,123,960,0,-999,*,4,0,0,3,0,0,0
358,2023 12 24,183,113,900,0,-999,*,8,3,0,7,2,0,0
359,2023 12 25,167,98,700,0,-999,*,7,0,0,6,0,0,0

In [195]:
# DGD file

In [62]:
years = []
k = 1996
for i in range(26):
    k= k+1
    years.append(k)

In [63]:
# Задать ширину каждого столбца в символах
col_widths = [10, 8, 2, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2]

# Прочитать данные из файла с указанием ширины каждого столбца
dgd_1996 = pd.read_fwf('1996/1996_DGD.txt', widths=col_widths, header=None, skiprows=12)

# Задать заголовки столбцов
dgd_1996.columns = headers = ['Date', 'ML_A', 'ML_k1','ML_k2','ML_k3','ML_k4','ML_k5','ML_k6','ML_k7','ML_k8','HL_A', 'HL_k1','HL_k2','HL_k3','HL_k4','HL_k5','HL_k6','HL_k7','HL_k8',
                          'E_A', 'E_k1','E_k2','E_k3','E_k4','E_k5','E_k6','E_k7','E_k8']
result_dgd = dgd_1996

In [64]:
for year in years:
    # Задать ширину каждого столбца в символах
    col_widths = [10, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2]
    
    # Прочитать данные из файла с указанием ширины каждого столбца
    dgd = pd.read_fwf(str(year) + '/' + str(year) + '_DGD.txt', widths=col_widths, header=None, skiprows=12)
    
    # Задать заголовки столбцов
    dgd.columns = headers = ['Date', 'ML_A', 'ML_k1','ML_k2','ML_k3','ML_k4','ML_k5','ML_k6','ML_k7','ML_k8','HL_A', 'HL_k1','HL_k2','HL_k3','HL_k4','HL_k5','HL_k6','HL_k7','HL_k8',
                              'E_A', 'E_k1','E_k2','E_k3','E_k4','E_k5','E_k6','E_k7','E_k8']
    result_dgd = pd.concat([result_dgd, dgd])

result_dgd = result_dgd.iloc[:-91]

In [66]:
# Поменялся формат данных с даты, изменилась длина. Поэтому докидываем отдельн.

In [67]:
# Задать ширину каждого столбца в символах
col_widths = [10, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 7, 6, 6, 6, 6, 6, 6, 6]

# Прочитать данные из файла с указанием ширины каждого столбца
dgd = pd.read_fwf('2022/2022_DGD.txt', widths=col_widths, header=None, skiprows=12)

# Задать заголовки столбцов
dgd.columns = headers = ['Date', 'ML_A', 'ML_k1','ML_k2','ML_k3','ML_k4','ML_k5','ML_k6','ML_k7','ML_k8','HL_A', 'HL_k1','HL_k2','HL_k3','HL_k4','HL_k5','HL_k6','HL_k7','HL_k8',
                          'E_A', 'E_k1','E_k2','E_k3','E_k4','E_k5','E_k6','E_k7','E_k8']
dgd= dgd[273:]
result_dgd = pd.concat([result_dgd, dgd])

In [68]:
# Задать ширину каждого столбца в символах
col_widths = [10, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 3, 2, 2, 2, 2, 2, 2, 2, 6, 7, 6, 6, 6, 6, 6, 6, 6]

# Прочитать данные из файла с указанием ширины каждого столбца
dgd = pd.read_fwf('2023/2023_DGD.txt', widths=col_widths, header=None, skiprows=12)

# Задать заголовки столбцов
dgd.columns = headers = ['Date', 'ML_A', 'ML_k1','ML_k2','ML_k3','ML_k4','ML_k5','ML_k6','ML_k7','ML_k8','HL_A', 'HL_k1','HL_k2','HL_k3','HL_k4','HL_k5','HL_k6','HL_k7','HL_k8',
                          'E_A', 'E_k1','E_k2','E_k3','E_k4','E_k5','E_k6','E_k7','E_k8']
result_dgd = pd.concat([result_dgd, dgd])

In [69]:
result_dgd

,Date,ML_A,ML_k1,ML_k2,ML_k3,ML_k4,ML_k5,ML_k6,ML_k7,ML_k8,...,HL_k8,E_A,E_k1,E_k2,E_k3,E_k4,E_k5,E_k6,E_k7,E_k8
0,01 Jan 96,5,2,0,0,-1,-2,-2,-2,-2,...,-1,3,0,0.0,-1,-1,-1,-2,-2,-1
1,02 Jan 96,7,1,0,-1,-1,-2,-3,-2,-3,...,-2,4,1,0.0,0,0,-1,-2,-2,-3
2,03 Jan 96,8,3,-1,-2,-2,-3,-2,-1,-1,...,-1,6,3,0.0,-1,-2,-3,-1,-2,-2
3,04 Jan 96,4,0,0,-1,-2,-2,-2,-2,-1,...,-1,3,1,0.0,0,-2,-2,-1,-1,-1
4,05 Jan 96,7,2,-1,-2,-2,-2,-2,-2,-2,...,-0,5,2,-1.0,-2,-1,-2,-2,-2,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2023 12 27,4,2,1,1,1,1,2,0,1,...,0,4,1.67,1.33,1.33,1.67,0.67,1.0,0.67,0.67
361,2023 12 28,2,0,1,1,0,1,1,0,2,...,0,3,0.33,0.33,1.33,0.33,0.33,0.67,0.33,2.0
362,2023 12 29,6,1,1,1,3,1,2,2,2,...,1,6,1.0,1.67,1.67,2.33,1.67,1.0,1.67,2.33
363,2023 12 30,4,1,2,1,1,1,2,1,0,...,0,5,1.0,2.33,1.0,1.0,1.0,1.33,1.0,0.33
364,2023 12 31,-1,0,1,0,0,1,2,1,-1,...,-1,3,0.33,1.0,0.67,0.67,0.67,1.0,1.33,-1.0

In [70]:
# Cохраняем все данные

In [71]:
# Сохраняем DataFrame в CSV файл
result_dpd.to_csv('result_dpd.csv', index=False)

In [72]:
# Сохраняем DataFrame в CSV файл
result_dsd.to_csv('result_dsd.csv', index=False)

In [73]:
# Сохраняем DataFrame в CSV файл
result_dgd.to_csv('result_dgd.csv', index=False)